.Page-container {
    min-height: 90vh;
    background-color: #282c34;
    text-align: center;
    padding-top: 60px;
}

.Form-container {
    margin: 0 auto;
    width: 800px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.4);
}

.Absolute-button {
    margin-left: 5px;
}
